.carou_img {
    width: 100% !important;
    height: 25em;
}

@media only screen and (max-width: 600px) {
    .carou_img {
        width: 15.5em !important;
        height: 13em !important;
    }

    .carou_card {
        width: 15.5em !important;
        height: 13em !important;
        margin-left: 1.8em;

    }

    .carou_text {
        font-size: 1.5em !important;
        text-align: center !important;
    }
}