.align_center {
  display: inline-block;
  margin-left: 25em;
}

.align_activity {
  text-align: center;
}

.daddy_incharge {
  width: 30em;
  height: 30em;
}

.new_card_width {
  width: 30em !important;
}

.pastor_area {
  display: flex;
  justify-content: space-between;
}

.pastor_title h1 {
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .daddy_incharge {
    width: 15.5em !important;
    height: 13em !important;
  }

  .pastor_title h1 {
    font-size: 1.5em;
    text-align: center;
  }

  .pastor_title h4 {
    font-size: 0.8em;
  }

  .align_center {
    display: inline-block;
    margin-left: 0em;
  }

  .new_card_width {
    width: 15.5em !important;
    height: 13em !important;
    margin-left: 1.8em;
  }

  .pastor_area {
    display: block;
  }

  .new_size {
    font-size: 0.8em !important;
    text-align: left;
  }

  .church_act {
    font-size: 1.5em !important;
  }

  .church_text {
    font-size: 0.6em !important;
    text-align: left;
  }

  #inherit_img {
    width: 15.5em !important;
    height: 13em !important;
   margin-left: 1em;
  }

  .resize_img {
    width: 15.5em !important;
    height: 13em !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}