.align_center {
  display: inline-block;
  margin-left: 25em;
}

.align_activity {
  text-align: center;
}

.daddy_incharge {
  width: 35em;
  height: 35em;
}

.new_card_width {
  width: 35em !important;
}

#inherit_img {
  width: inherit;
  height: inherit;
}

.pastor_area {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .daddy_incharge {
    width: inherit;
    height: 20em;
  }

  .align_center {
    display: inline-block;
    margin-left: 0em;
  }

  .new_card_width {
    width: inherit !important;
  }

  .pastor_area {
    display: block;
  }
}